In [1]:
# Importing needed Lib
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline
#We are setting the seed to assure you get the same answers on quizzes as we set up
random.seed(42)

# Have Look on Data:

##### Read in the dataset `  e-learning_data.csv` and take a look at the top few rows here

In [2]:
df1 = pd.read_csv("e-learning_data.csv")
df1.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

##### Find the number of rows in the dataset.

In [3]:
df1.shape[0]

294478

##### The number of unique users in the dataset.

In [4]:
df1.nunique()["user_id"]

290584

##### The proportion of users converted.

In [5]:
df1.query("converted == 1").shape[0]/df1.shape[0]

0.11965919355605512

##### The number of times the new_page and treatment don't match.

In [6]:
df1.query("landing_page == 'new_page' and group == 'control'").shape[0] + df1.query("landing_page == 'old_page' and group == 'treatment'").shape[0]

3893

In [7]:
df1.query("(landing_page == 'new_page' and group == 'control') or (landing_page == 'old_page' and group == 'treatment')").shape[0]

3893

##### Do any of the rows have missing values?

In [8]:
df1.isna().sum()

user_id         0
timestamp       0
group           0
landing_page    0
converted       0
dtype: int64

# Getting Data Ready:

##### Remove the rows where `treatment` doesn't match with `new_page` or `control` doesn't match with `old_page` then save cleand DataFrame in to `df2`

In [9]:
drop_index = df1.query("landing_page == 'new_page' and group == 'control'").index
drop_index2 = df1.query("landing_page == 'old_page' and group == 'treatment'").index
total_dropindex = drop_index.append(drop_index2)
df2= df1.drop(total_dropindex)

##### Double Check all of the correct rows were removed 
> `The Result of Next Cell should be 0`

In [10]:
df2[((df2['group'] == 'treatment') == (df2['landing_page'] == 'new_page')) == False].shape[0]

0

##### There is one `user_id` repeated in `df2` What is it?

In [11]:
df2[df2.user_id.duplicated()].user_id

2893    773192
Name: user_id, dtype: int64

##### What is the row information for the repeat user_id?

In [12]:
df2[df2.user_id.duplicated()]
# or df2.loc[df2[df2.user_id.duplicated()].index]

      user_id                   timestamp      group landing_page  converted
2893   773192  2017-01-14 02:55:59.590927  treatment     new_page          0

##### Remove one of the rows with a duplicate `user_id`, but keep your dataframe as `df2`

In [13]:
df2.drop(df2[df2.user_id.duplicated()].index, inplace=True)

##### Check That No Duplicated `user_id` in `df2`
> `The Result of Next Cell should be 0`

In [14]:
df2.user_id.duplicated().sum()

0

**Use df2 in the cells below to answer**

##### What is the probability of an individual converting regardless of the page they receive?

In [15]:
df2.query("converted == 1").shape[0]/df2.shape[0]

0.11959708724499628

##### Given that an individual was in the `control` group, what is the probability they converted?

In [16]:
p_cont = df2.query("converted == 1 and group == 'control'").shape[0]/df2.query("group == 'control'").shape[0]
p_cont

0.1203863045004612

##### Given that an individual was in the `treatment` group, what is the probability they converted?

In [17]:
p_treat= df2.query("converted == 1 and group == 'treatment'").shape[0]/df2.query("group == 'treatment'").shape[0]
p_treat

0.11880806551510564

##### What is the probability that an individual received the new page?

In [18]:
df2.query("landing_page == 'new_page'").shape[0]/df2.shape[0]

0.5000619442226688

In [19]:
1-0.5000619442226688

0.4999380557773312

In [20]:
df2.query("landing_page == 'old_page'").shape[0]/df2.shape[0]

0.4999380557773312

### <font color= RED>Before Working on This Activity Please make sure to Run all the Previous Cells
#### <font color= blue> For All coming questions make sure to work on `df2`

# AB Testing:

Assume under the null hypothesis,  𝑝𝑛𝑒𝑤 & 𝑝𝑜𝑙𝑑  both have "true" success rates `equal to the converted success rate regardless of page`
> That is  𝑝𝑛𝑒𝑤 & 𝑝𝑜𝑙𝑑 are equal. Furthermore, **assume they are equal to the converted rate in `e-learning_data.csv` regardless of the page.**

**Write The Hypothesis below:**
1. $H_{0}$ : 
2. $H_{1}$ :

##### What is the conversion rate 𝑝𝑛𝑒𝑤  `under the null`?

##### What is the conversion rate 𝑝𝑜𝑙𝑑  `under the null`?

##### What is  `𝑛𝑛𝑒𝑤` , the number of individuals in the treatment group?

##### What is  `𝑛𝑜𝑙𝑑`, the number of individuals in the control group?

##### Simulate  `𝑛𝑛𝑒𝑤`  transactions with a conversion rate of  `𝑝𝑛𝑒𝑤`  under the null. 
> Store these  𝑛𝑛𝑒𝑤  1's and 0's in `new_page_converted`.

##### Simulate  `𝑛𝑜𝑙𝑑`  transactions with a conversion rate of  `𝑝𝑜𝑙𝑑`  under the null. 
> Store these  𝑛𝑜𝑙𝑑  1's and 0's in `old_page_converted`.

##### Create `10,000  𝑝𝑛𝑒𝑤  -  𝑝𝑜𝑙𝑑 ` values using the same simulation process you used above. 
> Store all 10,000 values in a `NumPy array` called `p_diffs`.

##### Plot the Dist

##### Given that an individual was in the `control group`, what is the probability they `converted`?
> Save output in `p_cont`

##### Given that an individual was in the `treatment group`, what is the probability they `converted`?
> Save output in `p_treat`

##### Now Calculate `p_treat - p_cont` and save output in `acctual_diff`

##### Simulating the Null Hypothesis with Normal dist

##### Calculating p-value:

# Use Stats. model to calculate p-value:

In [ ]:
import statsmodels.api as sm